@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body,html{
  background-color: black;
}

.container{
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: right center;

}

.back video {

position: relative;
width: 100vw;
height: 100vh;
object-fit: cover;
display: flex;

}

@media (min-width: 0px) and (max-width: 576px) { 

 .back video{
  width: 100vw;
  height: 100vh;
  object-fit: contain;
}



}




@media (min-width: 768px) { 
	
  .back video{
    width: 100vw;
    height: 100vh;
    object-fit: contain;
  }
  


 }

@media (min-width: 992px) { 


  .back video{
    width: 100vw;
    height: 100vh;
    object-fit: contain;
  }
  



}


@media (min-width: 1200px) { 


  .back video{
    width: 100vw;
    height: 100vh;
    object-fit: contain;
  }
  



}


