@charset "UTF-8";


@font-face {
    font-family: 'AutumnFlowers';
    src: url('/Fonts/AutumnFlowers.otf');
    font-weight: normal;
    font-style: normal;
  }
  
  :root{
  
    --color1:#D9C7B8;
    --color2: #D9965B ;
    --color3:#BF6836 ;
    --color4:#73321A ;
    --color5: white;
    
    --fonte1:"AutumnFlowers", 'Times New Roman','Courier New'
    
  
  }
  
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body, html, ul, li{
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.1em;
    
}



.titlepg1 > #palavra1{
    margin-top: 5%;
    display: flex;
    align-items: center;
    margin-left: 5%;
    margin-right: 20%;
    padding-left: 20px;
    background-size: cover;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
    flex-wrap: wrap;
    background: #FBFBFB;
    background: linear-gradient(to right, #FBFBFB 0%, #E0E0E0 29%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.titlepg1 > #colorpalavra{
    margin-top: 2%;
    display: flex;
    align-items: center;
    margin-left: 5%;
    margin-right: 20%;
    padding-left: 20px;
    background-size: cover;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
    flex-wrap: wrap;
    background: #FBA556;
    background: linear-gradient(to right, #FBA556 0%, #672C03 29%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

.titlepg1 > #palavra3{
    margin-top: 2%;
    display: flex;
    align-items: center;
    margin-left: 5%;
    margin-right: 20%;
    padding-left: 20px;
    background-size: cover;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
    flex-wrap: wrap;
    background: #FBFBFB;
    background: linear-gradient(to right, #FBFBFB 0%, #E0E0E0 29%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/* -- -------------------------- -- */









/* -- -------------------------- -- */



.autor{
    text-decoration: none;
    color: #FBFBFB;
}
