@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body,html{
  background-color: black;
}



video{
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 70%;
  max-width:100%
}







/* 
@media (min-width: 0px) and (max-width: 576px) { 

 .back video{
  width: 100vw;
  height: 100vh;
  object-fit: contain;
}



}

@media (min-width: 590px) { 
	
  .back video{
    width: 100vw;
    height: 100vh;
    object-fit: contain;
  }
  


 }

@media (min-width: 720px) { 
	
  .back video{
    width: 100vw;
    height: 100vh;
    object-fit: contain;
  }
  


 }

@media (min-width: 760px) { 
	
  .back video{
    width: 100vw;
    height: 100vh;
    object-fit: contain;
  }
  


 }

@media (min-width: 992px) { 


  .back video{
    width: 100vw;
    height: 100vh;
    object-fit: contain;
  }
  



}


@media (min-width: 1200px) { 


  .back video{
    width: 100vw;
    height: 100vh;
    object-fit: contain;
  }
  



}

 */
