@charset "utf-8";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    
    --color-back-page: rgba(26, 32, 23, 1);
    --color-destaque: rgb(247, 239, 229);
    --color-normal:rgba(255, 219, 177, 1) ;

    --fontdestaque: "Perpetua-titling-mt" ;
}

@font-face {
    font-family:'perpetua-titling-mt';
    src: url(assets/fonts/perpetua-titling-mt-light.ttf);
}




#backnav{
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}



@media(max-width: 990px ) {

    .sidebar{

        background: rgba(34, 31, 31, 0.36);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(2.6px);
        -webkit-backdrop-filter: blur(2.6px);
        border: 1px solid rgba(34, 31, 31, 0.76);

    }

}


.text-menu{
    color: var(--color-destaque);
}