@charset "utf-8";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    
    --color-back-page: rgba(26, 32, 23, 1);
    --color-destaque: rgb(247, 239, 229);
    --color-normal:rgba(255, 219, 177, 1) ;

    --fontdestaque: "Perpetua-titling-mt" ;
}

@font-face {
    font-family:'perpetua-titling-mt';
    src: url(/assets/fonts/perpetua-titling-mt-light.ttf);
}

body{

    background-color: var(--color-back-page);
    background-repeat: no-repeat;
    background-clip: border-box;
    width: 100vw;
    height: 100vh; 
    
}



.poe-init{

    color: var(--color-destaque);
    padding: 10px;
    margin: 10px;
    font-size: 3rem;
    font-family: var(--fontdestaque);
    font-weight: 100;
}

.p-init{


    color: var(--color-normal);
    font-size: 1rem;

}


.p-center p{

    text-align: center;
    color: var(--color-destaque);
    font-size: 2em;


}










/* ------------------------------------------ */



