@charset "utf-8";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {

    --color-back-page: rgba(26, 32, 23, 1);
    --color-destaque: rgb(247, 239, 229);
    --color-normal: rgba(255, 219, 177, 1);

    --fontdestaque: "Perpetua-titling-mt";
}

@font-face {
    font-family: "perpetua-titling-mt";
    src: url(assets/fonts/perpetua-titling-mt-light.ttf);
}



body {

    background-color: var(--color-back-page);
    background-repeat: no-repeat;
    background-clip: border-box;
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    overflow-y: scroll !important;
    overflow: hidden;
}





#textdestaque {

    color: var(--color-destaque);
    text-decoration: none;
    font-family: var(--fontdestaque);
}

#textnormal {

    color: var(--color-normal);
    text-decoration: none;


}

#textnormal a:hover {
    color: rgb(255, 255, 255);
    transition: 0.8s;
}



/* ------------------CONTEUDO1---------------------------- */


.txt-destaque {

    color: var(--color-destaque);
    text-align: center;
    margin: 50px;
    font-size: 1.8rem;
    font-family: var(--fontdestaque);

}


hr.sub {

    color: antiquewhite;
    margin: auto;
}




hr.sub {
    width: 50px;
    animation: center-animate 2s ease infinite alternate;
}

hr.sub {
    transform: scaleX(0.2);
}

@keyframes center-animate {
    0% {
        transform: scaleX(20);
    }

    100% {
        transform: scaleX(1);
    }
}



/* -----------------SECTION-DESTAQUES-------------------------- */


.container-destaque {

    border: 2px antiquewhite solid;
    display: grid;
    margin: 50px 20px 20px 5px;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    gap: 5px 5px;
    width: 98vw;
    

}

.item-destaque1 {
    color: white;
    border: 1px rgba(195, 195, 195, 0.65) solid;
    padding: 10px;
    list-style: decimal;
    text-align: center;
    background-image: url(/assets/img/tinteiro.avif);
    background-repeat: no-repeat;
    background-size: 100% 100%;


}


.item-destaque1>a>h1 {

    font-size: 20px;
    font-family: var(--fontdestaque);
    color: var(--color-destaque);
    text-shadow: -5px 0px 3px rgba(0, 0, 0, 0.48);
}


.item-destaque1>a {

    text-decoration: none;

}



.item-text-destaque {

    background: rgba(240, 211, 174, 0.153);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(240, 211, 174, 0.13);
    color: var(--color-normal);
    text-shadow: -5px 0px 3px rgba(0, 0, 0, 0.48);
    text-align: center;
    flex-wrap: wrap;
    line-height: 1.5rem;

}






.item-destaque2 {


    border: 10px black solid;
    padding: 10px;
    list-style: decimal;
    color: white;
    border: 1px rgba(195, 195, 195, 0.65) solid;
    padding: 10px;
    list-style: decimal;
    text-align: center;

}


.item-destaque2>a>h1 {

    font-size: 20px;
    font-family: var(--fontdestaque);
    color: var(--color-destaque);
    text-shadow: -5px 0px 3px rgba(0, 0, 0, 0.48);
}


.item-destaque2>a {

    text-decoration: none;

}