@charset "utf-8";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {

    --color-back-page: rgba(26, 32, 23, 1);
    --color-destaque: rgb(247, 239, 229);
    --color-normal: rgba(255, 219, 177, 1);

    --fontdestaque: "Perpetua-titling-mt";
}

@font-face {
    font-family: 'perpetua-titling-mt';
    src: url(assets/fonts/perpetua-titling-mt-light.ttf);
}



body {

    background-color: var(--color-back-page);
    background-repeat: no-repeat;
    background-clip: border-box;
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;

}



#backfooter {

    background: rgba(178, 178, 178, 0.43);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.6px);
    -webkit-backdrop-filter: blur(2.6px);
    border: 1px solid rgba(34, 31, 31, 0.76);

}



#textdestaque {

    color: var(--color-destaque);
    text-decoration: none;
    font-family: var(--fontdestaque);
}

#textnormal {

    color: var(--color-normal);
    text-decoration: none;


}

#textnormal a:hover {
    color: rgb(255, 255, 255);
    transition: 0.8s;
}



/* backgroundconteudo */


.bkimg1 {

    position: relative;
    height: 400px;
    background-color: aliceblue;
    margin-top: 35px;

}


#img1 {
    background-color: aquamarine;
    height: 200px;
    width: 380px;
    position: absolute;
}